[databases]
{{$user := (or (getenv "POSTGRES_ENV_POSTGRES_USER") "postgres")}}
{{$dbname := (or (or (getenv "POSTGRES_ENV_POSTGRES_USER") (getenv "POSTGRES_ENV_POSTGRES_DB")) "postgres")}}
{{$address := (or (replace (getenv "POSTGRES_PORT") "tcp://" "" -1) "127.0.0.1:5432")}}
{{$address := split $address ":"}}{{$host := index $address 0}}{{$port := index $address 1}}
{{printf "%s = host=%s port=%s dbname=%s" $user $host $port $dbname}}

[pgbouncer]
logfile = /var/log/pgbouncer/pgbouncer.log
pidfile = /var/run/pgbouncer/pgbouncer.pid

listen_addr = {{if getenv "listen_addr"}} {{getenv "listen_addr"}} {{else}} 0.0.0.0 {{end}}
listen_port = {{if getenv "listen_port"}} {{getenv "listen_port"}} {{else}} 6432 {{end}}

;unix_socket_dir = /var/run/postgresql

auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt

admin_users = postgres
stats_users = postgres

pool_mode = {{if getenv "pool_mode"}} {{getenv "pool_mode"}} {{else}} session {{end}}

server_reset_query = DISCARD ALL

default_pool_size = {{if getenv "default_pool_size"}} {{getenv "default_pool_size"}} {{else}} 20 {{end}}
max_client_conn = {{if getenv "max_client_conn"}} {{getenv "max_client_conn"}} {{else}} 100 {{end}}
