[databases]
{{getenv "POSTGRES_USER"}} = host={{getenv "POSTGRES_HOST"}} port={{getenv "POSTGRES_PORT"}} dbname={{getenv "POSTGRES_USER"}}

[pgbouncer]
listen_port = {{getenv "PGBOUNCER_PORT"}}
listen_addr = {{getenv "PGBOUNCER_HOST"}}
auth_type = md5
auth_file = /etc/pgbouncer/users.txt
logfile = /var/log/pgbouncer/pgbouncer.log
pidfile = /var/run/pgbouncer/pgbouncer.pid
admin_users = {{getenv "POSTGRES_USER"}}